*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading: rgb(0 10 45);
    --helper:rgb(218, 27, 97);
    --para:#777;
    --para-tint: rgb(248, 248, 248);
    --white: #fff;
    --helper-tint:#f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100% );
    --gradientSupport: -webkit-linear-gradient(
        0deg,
        rgb(132 144 255) 0%, rgb(98 189 252) 100%
    );
    --shadow: 20px 0px 20px 0px rgb(22, 35, 218 /40%);
}
html{
    font-size: 62.5%;
    /* 1rem= 10px */
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Header Section-------------------------- */

.header{
    padding: 0 4.8rem;
    height: 10rem;
    background-color: var(--white);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header .logo{
    height: 6rem;
}

.navbar-lists{
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color:black;
    transition: color 0.5s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color: var(--helper);
}


/* Now hero section work */

.section{
    padding: 9rem 0;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.section-hero{
    background-color: var(--bg);
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-img{
    max-width: 70%;
}

.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    color: var(--helper);
}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.btn{
    background-color: black;
    padding: 1.1rem 3.2rem;
    border: none;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover, .btn:active{
    box-shadow: var(--shadow);
}

 .section-hero-img{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* Bio Section */

 .bio-image img{
    width: 80%;
    box-shadow:-2rem -2rem 0 0 black ;
    display: inline-block;
 }

 .bio-image{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .common-heading{
     font-size: 4.8rem;
     font-weight: 600;
     margin-bottom: 6rem;
     text-transform: capitalize;
     position: relative;
 }

 .common-heading::before{
     content: "";
     position: absolute;
     top: 110%;
     left: 0;
     width:1.5rem;
     border-radius: 50%;
     height: 1.5rem;
     background-color: black;

 }

 .common-heading::after{
     content: "";
     position: absolute;
     top: 122%;
     left: 1.5rem;
     min-width: 20rem;
     height: 0.3px;
     background-color: black;
 }

.bio-data-stats{
    display: flex;
    padding: 6.4rem;
    flex-direction: column;
    gap: 3rem;
}

.bio-progress-bar{
    width: 90%;
    height: 0.8rem;
    background-color:rgb(224, 211, 211);
    border-radius: 10rem;
    position: relative;
    box-shadow: var(--shadow);
}

.bio-stats h3{
    margin-bottom: 1rem;
}

.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    height: inherit;
    background: black;
    border-radius: 10rem;
}

.bio-progress-1::before{
    width: 90%;
}
.bio-progress-2::before{
    width: 70%;
}
.bio-progress-3::before{
    width: 50%;
}
.bio-progress-4::before{
    width: 30%;
}
.bio-progress-5::before{
    width: 10%;
}

.bio-progress-bar span{
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.bio-progress-bar span{
    left: 76%;
}
.bio-progress-1 span{
    left: 86%;
}
.bio-progress-2 span{
    left: 66%;
}
.bio-progress-3 span{
    left: 46%;
}
.bio-progress-4 span{
    left: 26%;
}
.bio-progress-5 span{
    left: 6%;
}

.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid black;
    border-color: transparent;
    border-bottom-color: black;
    top: -1.6rem;
}